<div class="item" style="padding-top: 10px">
  <div class="itemLabel">Your Funds:</div>
  <div class="itemContent">
    <b>{{:data.credits}} ₠</b>
  </div>
</div>
<hr />

{{if !data.valid_area}}
<div class="notice">
  <span class="bad">ERROR:</span> Terminal is not located in a leasable zone.
  Please contact local services.
</div>
{{else !data.is_for_sale}}
<div class="notice" style="text-align: center">
  The area <b>{{:data.area_name}}</b> is currently not available for lease.
</div>
{{else}}
<div class="item" style="padding-top: 10px">
  <div class="itemLabel">Property:</div>
  <div class="itemContent">
    {{:data.area_name}}
  </div>
</div>

<div class="item">
  <div class="itemLabel">Lease Price:</div>
  <div class="itemContent">
    {{if data.area_price == 0}}
    <span class="good">FREE</span>
    {{else}}
    <b>{{:data.area_price}} ₠</b>
    {{/if}}
  </div>
</div>

<div class="item" style="margin-top: 20px; text-align: center">
  {{if data.can_afford}}
  {{:helper.link('Sign Lease Agreement', 'pencil', {'purchase' : 1})}}
  {{else}}
  {{:helper.link('Insufficient Funds', 'cancel', {}, 'disabled')}}
  <div class="warning" style="margin-top: 10px; color: #ee0000">
    Your budget cannot cover this transaction.
  </div>
  {{/if}}
</div>
{{/if}}
