<div class="notice">
  {{if data.is_admin}}
  You are authenticated. You may access all functions of this program.
  {{else}}
  You are unauthenticated. Some functions may be unavailable.
  {{/if}}
</div>

<div class="item">
  <div class="itemContent" style="width: 100%">
    {{:helper.link('Browse Goods', 'cart', {'set_screen' : 1}, data.screen == 1 ? 'selected' : null)}}
    {{:helper.link('Shopping Cart', 'calculator', {'set_screen' : 2}, data.screen == 2 ? 'selected' : null)}}
  </div>
</div>

<div class="item">
  <div class="itemLabel">Current balance:</div>
  <div class="itemContent">
    <b>{{:data.credits}} {{:data.currency}}</b>
  </div>
  {{if data.is_admin}}
  <div class="itemContent" style="float: right">
    {{:helper.link('Sell Goods in Bay', 'arrowreturnthick-1-s', {'sell' : 1})}}
  </div>
  {{/if}}
</div>
<hr />

{{if data.screen == 1}}
<div class="item">
  {{for data.categories}}
  {{:helper.link(value, null, {'select_category' : value}, data.category == value ? 'selected' : null)}}
  {{/for}}
</div>

{{if data.category}}
<table style="width: 100%">
  <tr>
    <th style="width: 35%; text-align: left">Item</th>
    <th style="width: 25%; text-align: left">Vendor</th>
    <th style="width: 15%; text-align: left">Cost</th>
    <th style="width: 25%; text-align: left">Order</th>
  </tr>
  {{for data.possible_purchases}}
  <tr>
    <td>{{:value.name}}</td>
    <td style="color: #888">{{:value.vendor}}</td>
    <td>{{:value.cost}} {{:data.currency}}</td>
    <td style="white-space: nowrap">
      {{:helper.link('Add to Cart', 'plus', {'add_to_cart' : value.ref})}}
      {{if value.in_cart > 0}}
      <span
        style="
          display: inline-block;
          background-color: #5b9e2d;
          color: #fff;
          border-radius: 8px;
          padding: 2px 6px;
          font-size: 11px;
          margin-left: 5px;
          vertical-align: middle;
          line-height: 1;
        "
        >{{:value.in_cart}}</span
      >
      {{/if}}
    </td>
  </tr>
  {{/for}}
</table>
{{/if}}

{{else data.screen == 2}}
<div class="item">
  <center><h3>Shopping Cart</h3></center>
  {{if data.cart && data.cart.length > 0}}
  <table style="width: 100%">
    <tr>
      <th style="width: 35%; text-align: left">Item</th>
      <th style="width: 25%; text-align: left">Vendor</th>
      <th style="width: 10%; text-align: left">Cost</th>
      <th style="width: 15%; text-align: left">Options</th>
    </tr>
    {{for data.cart}}
    <tr>
      <td>{{:value.object}}</td>
      <td style="color: #888">{{:value.vendor}}</td>
      <td>{{:value.cost}} {{:data.currency}}</td>
      <td>
        {{:helper.link('Remove', 'close', {'remove_from_cart' : value.id})}}
      </td>
    </tr>
    {{/for}}
    <tr>
      <td colspan="3" style="text-align: right; padding-top: 10px">
        <b>TOTAL:</b>
      </td>
      <td colspan="2" style="padding-top: 10px">
        <b>{{:data.cart_total}} {{:data.currency}}</b>
      </td>
    </tr>
  </table>

  <div class="item" style="margin-top: 20px; text-align: center">
    {{if data.is_admin}}
    {{:helper.link('Checkout & Order', 'check', {'checkout' : 1}, data.cart_total > data.credits ? 'disabled' : null)}}
    {{if data.cart_total > data.credits}}
    <div class="warning" style="margin-top: 10px">
      Insufficient funds for this order.
    </div>
    {{/if}}
    {{else}}
    <div class="warning" style="margin-top: 10px">
      Only personnel with Cargo access can finalize orders.
    </div>
    {{/if}}
  </div>
  {{else}}
  <div class="notice" style="text-align: center">Your cart is empty.</div>
  {{/if}}
</div>
{{/if}}
